*{
    background-color: lightgrey;
    float: left;
}

.profile{
    color:browns;
    padding: 5px 0px 0px 5px;
    width: 30%;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    background-color:aqua;
}

.info{
    
    padding: 5px 0px 0px 5px;
    margin-left: 3%;
    width: 65%;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
}

.propic{

    border-radius: 15px;
    box-shadow: 0px 3px 3px 0;
}

.name, .about, .goals, .hobbies{
    background-color: transparent;
}

.about, .goals, .hobbies{
    font-size: large;
}